span.normalname a {
	font-size: 24px !important;
	word-break: break-all;
}

div#main-menu {
	height: 50px;
	font-size: 28px;
	line-height: 50px;
	background: blue;
}
div#main-menu a#new-post {
	width: auto;
}

/* Remove side margins from global containers */
#header-container,
#main-menu,
#ipbwrapper {
	margin: 0;
	padding: 0;
}

#left-column {
	padding: 0 5px;
}

/* Topic list item */


/* comment divider */
.darkrow1 + table td {
	height: 50px;
}

/* comment user info */
span.postdetails {
    font-size: 22px;
}
/* comment avatar */
span.postdetails img {
    width: 100%;
    height: auto;
}

div#tabs a {
	font-size: 18px;
}

h2.mainpage {
	margin-bottom: 30px;
}
.lenta .subtitle {
	font-size: 62px;
	line-height: 100%;
}
/* comment content */
.postcolor {
	font-size: 38px;
	max-width: 100%;
}
/* first comment in topic (dirty fix for same font-size) */
form[name="collect"] > table:nth-child(1) .postcolor {
	font-size: 14px;
}
.holder.newsbottom {
    font-size: 28px;
    height: 100px;
    vertical-align: middle;
}

/* Topic title */

h1.subpage {
	font-size: 48px;
}

/* Topic pagination */

table.row3 tr td[align="left"] {
	font-size: 32px;
}
table.row3 td[align="left"] a {
	display: inline-block;
	min-width: 50px;
	height: 50px;
	font-size: 32px;
	text-align: center;
}
table.row3 td[align="left"] a:last-child {
	display: none;
}

/* Topic comments */

/* Comment time and rating */
td.row4:nth-child(2) {
	font-size: 32px;
}

td.row4:nth-child(2) a {
	font-size: 24px;
}

/* Make images, attached in comments, wider */
div.attach,
.basic-img.attach {
	float: none !important;
}
.attach img {
    max-width: 100% !important;
}

/* Quote table */
.postcolor + table[align="center"] {
	width: 100%;
}
/* "<b>Цитата</b>" */
.postcolor + table[align="center"] b {
	font-size: 32px;
}
#QUOTE {
	font-size: 32px;
}


/* Some globals */

div#header,
div#menu-container,
div#content {
	max-width: 100% !important;
}
#android-app,
#top-line,
#left-column + td,
#right-column,
#clk-lt,
#clk-rt,
#footer-informer,
noindex {
    display: none !important;
}
