div#main-menu {
	height: 50px;
	font-size: 28px;
	line-height: 50px;
	background: blue;
}

div#tabs a {
	font-size: 18px;
}

h2.mainpage {
	margin-bottom: 30px;
}

.lenta .subtitle {
	font-size: 62px;
	line-height: 100%;
}

.postcolor {
	font-size: 16px;
	/* display: none; */
}

.holder.newsbottom {
    font-size: 28px;
    height: 100px;
    vertical-align: middle;
}

div#header,
div#menu-container,
div#content {
	max-width: 100% !important;
}

#android-app,
#top-line,
#right-column,
#clk-lt,
#clk-rt,
noindex {
    display: none !important;
}
